<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout"
    xmlns:sec="http://www.thymeleaf.org/extras/spring-security" layout:decorate="~{_layout}">

<head>
    <title>BezKoder - Spring Boot Thymeleaf Pagination example</title>
    <!-- <link rel="stylesheet" href="https://cdn.datatables.net/1.10.2/css/jquery.dataTables.min.css"> -->
    <link rel="stylesheet" th:href="@{/css/jquery.dataTables.min.css}" />

    <!-- <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script> -->
    <script>
        $(document).ready(function() {
            
            $('#example').DataTable({
                "serverSide": true,
                "start": 0,
                "length": 10,
                "ajax": {
                    "url": "/betlist",
                    "type": "GET",
                    //"dataSrc": ""
                },
                "columns": [
                    { "data": "createdAt" },
                    { "data": "matchGroup" },
                    { "data": "teamNameOne" },
                    { "data": "teamNameTwo" },
                    { "data": "betType" },
                    { "data": "odds" },
                    { "data": "points" },
                    { "data": "reward" }
                ]
            });
        } );
    </script>
</head>

<body>
    

    <div layout:fragment="content">
        <div th:replace="~{fragments/alert :: alert_headline}"></div>

        
        <h2 class="text-center">All Your Bets</h2>

        <div th:if="${message != null}" class="alert alert-success alert-dismissible fade show text-center message"
            role="alert">
            [[${message}]]
            <button type="button" class="close btn-sm" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>

        <div class="row header" style="text-align:center;color:green">
            <h3></h3>
        </div>
        <table id="example" class="table table-striped table-bordered" style="width:100%">
            <thead>
                <tr>
                    <th>Bet Time</th>
                    <th>Competition</th>
                    <th>Home Team</th>
                    <th>Away Team</th>
                    <th>Bet Type</th>
                    <th>Odds</th>
                    <th>Amount</th>
                    <th>Reward</th>
                </tr>
            </thead>
            
            <tfoot>
                <tr>
                    <th>Bet Time</th>
                    <th>Competition</th>
                    <th>Home Team</th>
                    <th>Away Team</th>
                    <th>Bet Type</th>
                    <th>Odds</th>
                    <th>Amount</th>
                    <th>Reward</th>
                </tr>
            </tfoot>
        </table>
    

          
    </div>
</body>

</html>